<div class="container padded">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Edit my profile</h1>

      <%= render 'form' %>
      <br>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
