<div class = "container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><h1>Editing Flat Pic</h1>

        <%= render 'form' %>

        <div class="btn-group" role="group">
        <%= link_to 'Show', flat_flat_pic_path(@flat, @flat_pic) %>
        <%= link_to 'Back', flat_flat_pics_path(@flat) %>
      </div>
      </div>
    </div>
  </div>
</div>
