<div class = "container padded">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <h1>New Flat</h1>

        <%= render 'form' %>

        <%= link_to 'Back', flats_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>

