<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Address</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
                <div class="address">
                    <p><i class="icon-basic-geolocalize-01"></i> 500 Lorem Ipsum Dolor Sit,</p>
                    <p><i class="icon-basic-life-buoy"></i> Phone:(00) 222 666 444</p>
                    <p><i class="icon-basic-mail-multiple"></i> Email: <span>help[at]email.com</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Snapshot</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commod consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Quick Links</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <div class="footer_lists">
                    <ul class="list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Screenshots</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <ul class="list1">
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">figures</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Just Another Area</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">Another area to add some of your most vital content or links. You can use this area to show any content globally across the site.</p>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">
                <!-- <p>
                    &copy; 2015<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, dreamBNB. All Rights Reserved.
                </p> -->
            </div>
            <div class="social">
                <ul>
                    <li><a href="http://twitter.com/" target="_blank"><i class="social-icon-twitter"></i></a></li>
                    <li><a href="http://facebook.com/" target="_blank"><i class="social-icon-facebook"></i></a></li>
                    <li><a href="http://instagram.com/" target="_blank"><i class="social-icon-instagram"></i></a></li>
                    <li><a href="http://linkedin.com/" target="_blank"><i class="social-icon-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</footer>