<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Address</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <div class="address">
                    <p><i class="fa fa-map-marker"></i> 5 Sinter-Goedeleplein</p>
                    <p><i class="fa fa-phone"></i>Brussels, Belgium</p>
                    <p><i class="fa fa-envelope-o"></i> <span>dreambnb@yopmail.com</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>What is it?</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">DreamBNB ... Dream a location and go there. We offer the most exclusive and remote, the most hip and connected places around the globe.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Quick Links</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <div class="footer_lists">
                    <ul class="list">
                        <li><%= link_to "Home", root_path %></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Rates</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="list">
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                <ul class="f_grid1">
                    <li>
                        <div class="extra-wrap">
                            <h5>Information</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
                <p class="m_14">Find a place to stay in any price category. Dream it and go there, that is what DreamBNB is all about.</p>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">
                <p>
                    &copy; 2015 - dreamBNB. All Rights Reserved.
                </p>
                <p>
                    Disclaimer - Privacy - Cookies
                </p>
            </div>
            <div class="social">
                <ul>
                    <li><a href="http://twitter.com/" target="_blank"><i class="social-icon-twitter"></i></a></li>
                    <li><a href="http://facebook.com/" target="_blank"><i class="social-icon-facebook"></i></a></li>
                    <li><a href="http://instagram.com/" target="_blank"><i class="social-icon-instagram"></i></a></li>
                    <li><a href="http://linkedin.com/" target="_blank"><i class="social-icon-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</footer>