<div class="container-fluid text-center bg-image">
  <div class="row center">
    <div class="col-xs-12">
      <div class="intro-text">
        <h2>Welcome! <span>Explore</span> our <span>offers.</span></h2>
        <p>We offer a broad range of locations all around the globe.</p>
      </div>
    </div>
  </div>
</div>