@import "base";
@import "utilities";
@import "footer";
@import "navbar";

.navbar {
  margin-bottom: 0;
}

.bg-image {
  background: url(image_path('welcome.jpg')) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 650px;
}

#welcome-container h2 {
  color: #151515;
  margin-bottom: 20px;
  padding: 14px;
}

#welcome-container p {
  color: #333;
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-style: italic;
}

.intro-text {
  margin-top: 200px;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.container-fluid {
  height: 100%
}